{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<div ng-controller="RulesCtrl" ng-cloak>
    <md-card flex ng-repeat="rule in json">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{[{ rule["title"] }]}</span>
                <md-divider flex></md-divier>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p ng-repeat="content in rule['content']">
                {[{ content }]}
            </p>
            <md-divider flex></md-divier>
            <p ng-repeat="content in rule['footer']">
                {[{ content }]}
            </p>
        </md-card-content>
    </md-card>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var djangoVar = {};
    djangoVar.rules = {{ json|safe }};
</script>
<script type="text/javascript" src="{% static 'home/js/rules.js' %}"></script>
{% endblock %}
