<div layout="row">
    <div flex-gt-md></div>
    <div layout="column" flex>
        <md-card ng-repeat="item in json" flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{[{ item["title"] }]}</span>
                    <md-divider flex></md-divier>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-repeat="content in item['content']">
                    {[{ content }]}
                </p>
                <md-divider flex></md-divier>
                <p ng-repeat="content in item['footer']">
                    {[{ content }]}
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-md></div>
</div>
